<h1>Product`s list</h1>

<div class="layout">
			<section class="inner">
				<ul class="grid list-items">
					<li class="grid-tile">
						<div class="item">
							<div class="item-img" style="background-image: url('https://www.momastore.org/wcsstore/MOMASTORE1/images/products/96511_A2_Print_NYC_8x10_In.jpg'); background-size: auto auto; background-size: 150%; background-position: center 30%;"></div>
							<div class="item-pnl">
								<div class="pnl-wrapper">
									<div class="pnl-description">
										<span class="pnl-label">Product Name</span>
										<span class="pnl-price">$100,00</span>
									</div>
									<div>
										<button class="btn btn-danger btn-cart">Add to cart</button>	
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>